body {
    background-image: "./assets/images/banner.jpg";
    background-color: black;
    color:  white;
    
}

.col-* {
    text-align: center;

}

.col-10 {
    line-height: 40px;
}

#hmAnswer,#hmLettersGuessed {
    letter-spacing: 5px;
    text-transform: uppercase;
}